  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirm-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title text-center">[[ $ctrl.modal.title ]]</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" ng-submit="$ctrl.submit()">
            <div class="text-center">
              <span class="help-block">
                [[ $ctrl.modal.text1 ]]
                <b class="text-danger">[[ $ctrl.modal.text2 ]]?</b></span>
              <span class="text-danger"><b>[[ $ctrl.modal.text3 ]]</b></span>
            </div>
            <div class="modal-footer">
              <div class="btn-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                [[ $ctrl.modal.cancelBtnText || '取消' ]]
              </button>
              <button type="submit" class="btn btn-danger">
                [[ $ctrl.modal.submitBtnText || '提交' ]]
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>