<div class="sidebar">
  <div class="panel panel-info">
    <div class="panel-heading">
    <h3 class="title">扫码[[ flowText ]]</h3>
    </div>
    <div class="panel-body">
      <div class="form-layout">
      <form>
          <div class="info-group">
            <label>条形码</label>
            <span class="toggle-info">
              <i class="fa fa-info-circle fa-lg"></i>
            </span>
            <p class="alert alert-info">
              温馨提示：<br>
              1.鼠标点击条形码输入框<br>
              2.用扫码抢进行扫码<br>
              3.支持批量上传条形码
            </p>
          </div>
          <input type="text" class="form-control" placeholder="扫码或输入条形码" ng-model="flow.inputBarcode" required="" ng-keyup="flow.onBarcodeInput($event)" autofocus="true" ng-focus="true">
      </form>
      <button class="btn btn-primary submit-btn"
        ng-click="flow.popupUpload()" 
        data-toggle="modal"
        data-target="#upload-modal">
        批量上传
        <i class="fa fa-fw fa-cloud-upload"></i>
      </button>
      </div>
    </div>
  </div>
  <div class="panel panel-danger" ng-if="flow.error" ng-cloak>
    <div class="panel-heading">
      <label>[[ flow.error.title ]]</label>
    </div>
    <div class="panel-body">
      <p class="text-danger">
        [[ flow.error.text ]]
      </p>
    </div>
  </div>
  </div> <!-- modal end -->
</div>
<div class="col-xs-12 col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2">
          <h3 class="title"> [[ flowText ]]明细</h3> 
        </div>
        <div class="col-md-3 col-md-offset-7">
          <div class="input-group search">
             <input ng-model="stock.searchText" ng-change="stock.onSearchTextChange()" type="text" class="form-control" placeholder="物料名称 | 条形码">
           </div><!-- /input-group -->                
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-layout">
          <thead>
            <tr ng-show="flow.show" ng-cloak>
              <th></th>
              <th>物料名称</th>
              <th>条形码</th>
              <th>成本单价(元)</th>
              <th>当前库存</th>
              <th>[[ flowText ]]数量</th>
              <th>历史库存</th>
              <th>[[ flowText ]]总价(元)</th>
              <th>更新时间</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in flow.flowList" ng-cloak ng-init="isflowin = item.flowQuantity == item.flowin_quantity">
              <td>[[ $index + 1 ]]</td>
              <td><a ui-sref="stock.flows({id: item.stock_id})">[[ item.name ]]</a></td>
              <td>[[ item.barcode]]</td>
              <td>[[ item.unitprice | currency: "&#165;"]]</td>
              <td>[[ item.quantity + item.measurement_text ]]</td>
              <td ng-if="item.flowed" class="quantity" 
              ng-class="{true: 'text-success', false: 'text-danger'}[isflowin]">
                <i>
                [[ {true: '+' + item.flowin_quantity, false: '-' + item.flowout_quantity}[isflowin] ]]
                </i>
              </td>
              <td ng-if="!item.flowed">
                <input ng-if="isflowin" class="form-control" type="number" 
                ng-model="item.flowQuantity" max="999" min="1" step="1" ng-change="flow.onQuantityChange(item, '[[item.flowQuantity]]')">
                <input ng-if="!isflowin" class="form-control" type="number" 
                ng-model="item.flowQuantity" max="[[item.quantity]]" min="1" step="1" ng-change="flow.onQuantityChange(item, '[[item.flowQuantity]]')">
              </td>
              <td>[[ item.flowed_stock_quantity + item.measurement_text ]]</td>
              <td>[[ item.flowQuantity * item.unitprice | currency: "&#165;" ]]</td>
              <td>[[ item.modified ]]</td>
              <td>[[ item.flowed? '已提交': "未提交"]]</td>
              <td ng-if="item.flowed">无</td>
              <td ng-if="!item.flowed">
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#confirm-modal"
                    ng-click="flow.popupCommit(item)"
                    >[[ flowText ]]
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#confirm-modal"
                    ng-click="flow.popupDelete(item)"
                    >删除
                  </button></td>
            </tr>
          </tbody>
        </table>
        <p ng-show="flow.show && flow.flowList.length == 0" ng-cloak> 暂无数据 </p>
      </div>
    </div>
  </div>
</div>
