<div class="col-xs-12 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>修改密码</h3>
    </div>
    <div class="panel-body">
      <form method="post" name="passwordForm" ng-submit="onSubmitPasswordForm()">
        <div class="form-layout">
          <label>旧密码</label>
          <input type="password" class="form-control" placeholder="输入旧密码" ng-model="opasswd" required="" autocomplete="">
          <label>新密码</label>
          <input type="password" class="form-control" placeholder="输入新密码" minlength="8" maxlength="16"
          ng-model="npasswd" required="" autocomplete="">
          <label>确认新密码</label>
          <input type="password" class="form-control" placeholder="确认新密码" minlength="8" maxlength="16"
          ng-model="cpasswd" required="" autocomplete="" ng-change="identifyPassword()">
          <label ng-class="{error: 'text-danger', info: 'text-success'}[log.level]" ng-if="log">{{ log.text }}</label>
          <button class="btn btn-primary submit-btn" ng-disabled="!(passwordForm.$valid && npasswd == cpasswd)">保存</button>
        </div>        
      </form>
    </div>
  </div>
</div>