<div class="col-xs-12 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>修改密码</h3>
    </div>
    <div class="panel-body">
      <form method="post">
        <div class="form-layout">
          <label>输入旧密码</label>
          <input type="password" class="form-control" placeholder="输入旧密码" name="opasswd"required="" autocomplete="">
          <label>输入新密码</label>
          <input type="password" class="form-control" placeholder="输入新密码" minlength="8" maxlength="16"
          ng-model="npasswd" name="npasswd" required="" autocomplete="" ng-change="identifyPassword()">
          <label>确认新密码</label>
          <input type="password" class="form-control" placeholder="确认新密码" minlength="8" maxlength="16"
          ng-model="cpasswd" name="cpasswd" required="" autocomplete="" ng-change="identifyPassword()">
          <div class="alert alert-danger" ng-class="{true: 'hidden'}[identical === null]">新密码与确认密码不一致</div>
          <button class="btn btn-primary submit-btn">提交</button>
        </div>        
      </form>
    </div>
  </div>
</div>