<div class="sidebar">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="title">选择仓库</h3>
    </div>
    <div class="panel-body">

      <ul class="list-group">
          <li class="list-group-item">刘行</li>
      </ul>
    </div>
  </div>
</div>       <div class="sidebar">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="title">选择仓库</h3>
    </div>
    <div class="panel-body">

      <ul class="list-group">
          <li class="list-group-item">刘行</li>
      </ul>
    </div>
  </div>
</div> 