<div class="col-md-2 col-xs-12">

    <div class="text-center title">
    <b>历史盘点</b>
    <a class="no-underline pull-right" ui-sref="stock.stocktake.new" ui-sref-active="active"> + 新建 </a>
    </div>
    <div class="list-group">
      <a ui-sref="stock.stocktake.detail({id: 1})" ui-sref-active="active" class="list-group-item">
        <p class="list-group-item-heading">库存盘点1</p>
        <p class="list-group-item-text">2012-12-12 12:12:12</p>
      </a>
      <a ui-sref="stock.stocktake.detail({id: 2})" ui-sref-active="active" class="list-group-item">
        <p class="list-group-item-heading">库存盘点2</p>
        <p class="list-group-item-text">2012-12-12 12:12:12</p>
      </a>
      <a ui-sref="stock.stocktake.detail({id: 3})" ui-sref-active="active" class="list-group-item">
        <p class="list-group-item-heading">库存盘点3</p>
        <p class="list-group-item-text">2012-12-12 12:12:12</p>
      </a>
    </div>
</div>
<div class="col-md-10 col-xs-12">
    <div ui-view></div>
</div>