<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-5">
        <h3 class="title">入库详情: [[ stock.name ]] - [[ stock.barcode ]]</h3>
      </div>
      <div class="col-md-2 col-md-offset-5">
        <a ui-sref="stockList" class="btn btn-default pull-right">
          &lt;&lt;&nbsp;库存列表
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover table-layout">
        <thead>
          <tr ng-cloak>
            <th>物料名称</th>
            <th>条形码</th>
            <th>成本单价(元)</th>
            <th>当前库存</th>
            <th>入库数量</th>
            <th>入库总价(元)</th>
          </tr>
        </thead>
        <tbody id="flow">
          <tr>
            <td>[[ stock.name ]]</td>
            <td>[[ stock.barcode]]</td>
            <td>[[ stock.unitprice | currency: "&#165;"]]</td>
            <td>[[ stock.quantity + stock.measurement_text ]]
            </td>  
            <td>
              <input ng-model= "stock.quantity" class="form-control" type="number" max="999" min="1" step="1" ng-value="1">
            </td>
            <td>[[ stock.quantity * stock.unitprice | currency: "&#165;&nbsp;" ]]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>