<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <h3 class="title"> 库存盘点 </h3>
      </div>
      <div class="col-md-3 col-md-offset-7">
        <div class="input-group search">
           <input ng-model="stock.searchText" ng-change="stock.onSearchTextChange()" type="text" class="form-control" placeholder="物料名称 | 条形码">
         </div><!-- /input-group -->                
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover table-layout">
        <thead>
          <tr ng-cloak>
            <th></th>
            <th>物料名称</th>
            <th>条形码</th>
            <th>库存数量</th>
            <th>盘点数量</th>
            <th>结果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>可乐</td>
            <td>222222</td>
            <td>3瓶</td>
            <td>3瓶</td>
            <td class="text-success"><i class="fa fa-fw fa-check"></i></td>

          </tr>
          <tr class="danger">
            <td>1</td>
            <td>汽水</td>
            <td>333333</td>
            <td>3瓶</td>
            <td>6瓶</td>
            <td class="text-danger"><i class="fa fa-fw fa-remove"></i></td>

          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>共6件</b></td>
            <td><b>共9件</b></td>
            <td></td>
          </tr>
          <tr ng-repeat="item in stock.stockList" ng-cloak>
            <td>[[ $index + 1 ]]</td>
            <td><a ui-sref="stock.flows({id:item.id})">[[ item.name  ]]</a></td>
            <td>[[ item.barcode ]]</td>
            <td>[[ item.unitprice | currency: "&#165;&nbsp;" ]]</td>
            <td>[[ item.quantity + item.measurement_text ]]</td>
            <td>[[ item.unitprice * item.quantity | currency: "&#165;&nbsp;" ]]</td>
            <td>
              <span><i class="fa fa-fw fa-check-circle text-success"></i>入库</span>
              <span><i class="fa fa-fw" ng-class="{true: 'fa-check-circle text-success', false: ' fa-times-circle text-danger'}[item.quantity > 0]"></i>出库</span>
            </td>
          </tr>
          <tr>
          </tr>
      </tbody>
    </table>
    <p ng-show="stock.show && stock.stockList.length == 0" ng-cloak> 暂无数据 </p>
    <div ng-show="stock.show">
      <button
        ng-click="stock.stockinAll()"
        ng-disabled="!stock.hasCheckedItem()"
        class="btn btn-primary"
        >全部入库
      </button>
      <button
        ng-click="stock.stockoutAll()"
        ng-disabled="!stock.checkedFlowoutAllowed()"
        class="btn btn-warning"
        >全部出库
      </button> 
    </div>            
  </div>
  </div>
</div>