<div class="col-xs-12 col-md-9">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2">
          <h3 class="title">库存列表</h3>
        </div>
        <div class="col-md-3 col-md-offset-7">
          <div class="input-group search">
             <input ng-model="stock.searchText" ng-change="stock.onSearchTextChange()" type="text" class="form-control" placeholder="物料名称 | 条形码">
           </div><!-- /input-group -->                
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-layout">
          <thead>
            <tr ng-show="stock.show" ng-cloak>
              <th></th>
              <th><input type="checkbox" ng-model="stock.checkAll" ng-change="stock.onCheckAllChange()"></th>
              <th>物料名称</th>
              <th>条形码</th>
              <th>成本单价(元)</th>
              <th>数量</th>
              <th>总价(元)</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in stock.stockList" ng-cloak>
              <td>[[ $index + 1 ]]</td>
              <th><input type="checkbox" ng-checked="item.checked" 
                ng-model="item.checked"
                ng-change="stock.onCheckChange(item)"></th>
              <td>[[ item.name  ]]</td>
              <td>[[ item.barcode ]]</td>
              <td>[[ item.unitprice | currency: "&#165;&nbsp;" ]]</td>
              <td>[[ item.quantity + item.measurement_text ]]</td>
              <td>[[ item.unitprice * item.quantity | currency: "&#165;&nbsp;" ]]</td>
              <td>
                <span><i class="fa fa-fw fa-check-circle text-success"></i>入库</span>
                <span><i class="fa fa-fw" ng-class="{true: 'fa-check-circle text-success', false: ' fa-times-circle text-danger'}[item.quantity > 0]"></i>出库</span>
              </td>
              <td>
                <a ui-sref="stockFlows({id: item.id})" 
                class="btn btn-info" ui-sref-active="active">详情</a>
                <a
                  ui-sref="stockIn({id: item.id})" 
                  class="btn btn-primary"
                  >入库
                </a>
                <a
                  ui-sref="stockOut({id: item.id})" 
                  ng-if="item.quantity > 0"
                  class="btn btn-warning"
                  >出库
                </a>
                <button
                  ng-if="item.noFlows"
                  href="#"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#delete-modal"
                  title="delete"
                  ng-click="stock.popupDelete(item)"
                  >删除
                </button>
              </td>
            </tr>
            <tr>
            <td colspan="9" ng-show="stock.show">
              <a
                ui-sref="stockIn()" 
                class="btn btn-primary"
                ng-disabled="!stock.hasCheckedItem()"
                >全部入库
              </a>
              <a
                ui-sref="stockOut()" 
                ng-disabled="!stock.checkedFlowoutAllowed()"
                class="btn btn-warning"
                >全部出库
              </a>        
            </td>            
            </tr>
        </tbody>
      </table>
      <div class="pull-right">
      </div>
    </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title text-center">删除物料</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" ng-submit="stock.delete()">
            <div class="tc-params-help text-center">
              <span class="help-block">确定删除 <b class="text-danger">[[ stock.deleteItem.name ]] x [[ stock.deleteItem.quantity ]][[ stock.deleteItem.measurement_text ]]</b> ?</span>
              <span class="text-danger"><b>条形码:[[ stock.deleteItem.barcode ]]</b></span>
            </div>
            <div class="modal-footer">
              <div class="btn-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-danger">删除</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="title"><a ui-sref="stock.new">新建库存</a></h3>
    </div>
    <div class="panel-body">
      <stock-form></stock-form>  
    </div>
  </div>
</div>