<div class="col-md-12 col-xs-12">
  <div class="panel panel-info" ng-cloak>
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-5">
          <h3 class="title">
          库存详情: [[ stock.name ]] - [[ stock.barcode ]]</h3>
          <p><a href="javascript:history.back();"><b>[返回]</b></a></p>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover sortable table-layout">
          <thead>
            <tr ng-cloak>
              <th></th>
              <th>物料名称</th>
              <th>条形码</th>
              <th>单价</th>
              <th>数量</th>
              <th>总价(元)</th>
              <th>历史库存</th>
              <th>历史库存总价(元)</th>
              <th>更新时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in flowList" ng-cloak>
              <td>[[ $index + 1 ]]</td>
              <td>[[ item.name  ]]</td>
              <td>[[ item.barcode ]]</td>
              <td>[[ item.unitprice | currency: "&#165;&nbsp;" ]]</td>
              <td ng-show="item.flowin_quantity > 0" class="text-success quantity">
                <i>+[[ item.flowin_quantity ]]</i></td>
              <td ng-show="item.flowin_quantity > 0">
              [[ item.unitprice * item.flowin_quantity | currency: "&#165;&nbsp;" ]]</td>
              <td ng-show="item.flowout_quantity > 0" class="text-danger quantity">
                <i>-[[ item.flowout_quantity ]]</i></td>
              <td ng-show="item.flowout_quantity > 0">
              [[ item.unitprice * item.flowout_quantity | currency: "&#165;&nbsp;" ]]</td>
              <td>[[ item.flowed_stock_quantity + item.measurement_text]]</td>
              <td>[[ item.unitprice * item.flowed_stock_quantity | currency: "&#165;&nbsp;" ]]</td>
              <td>[[ item.modified ]]</td>
            </tr>
        </tbody>
      </table>
      <p ng-show="flowList.length == 0" ng-cloak> 暂无数据 </p>
    </div>
    </div>
  </div>
</div>