Flask==0.12.2
redis==2.10.5
requests==2.11.1
supervisor==3.3.2
gunicorn==19.7.1
PyYAML==3.12
ipython==5.4.1
mysql-python==1.2.5
SQLAlchemy==1.1.4
Flask-Admin==1.4.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.1.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
beautifulsoup4==4.5.3
numpy==1.13.3
pyquery==1.4.0