/*
* @Author: wangwh8
* @Date:   2018-05-24 12:46:46
* @Last Modified by:   edward
* @Last Modified time: 2018-06-16 11:40:10
*/

/* reset*/
.form-control{
    border-radius: 0;
    box-shadow: none !important;
}
.alert, .btn, .modal-content{
    border-radius: 0;
}