{% set title = current.name %}
{% extends "base.html" %}

{% block layout %}
{% include "nav.html"%}

<div class="container-fluid" ng-controller="layoutCtrl as $ctrl" ng-app="warehouse">
  <div class="row">
    <div class="col-md-12 col-xs-12" ng-cloak>  
    <h3 class="title" id="page-header">{{ current.name }}</h3>
      <ul class="nav nav-tabs">

        <li id="tab-stock" role="presentation" ui-sref-active="active">
          <a ui-sref="stock">库存管理</a></li>
        <li id="tab-flowin" role="presentation" ui-sref-active="active">
          <a ui-sref="flow">扫码</a></li>
      </ul>
    </div>
  </div>
  <div class="row" ng-cloak>
    <ul class="sub-nav">
      <li role="presentation" >
        <a href="javascript:;" ng-click="$ctrl.toggleSidebar()">
          <i class="fa fa-fw fa-bars"></i>
        </a>
      </li>
      <li ng-repeat="item in $ctrl.navItems">
        <a class="link" ui-sref="[[ item.state ]]" ui-sref-active="active">[[ item.text ]]</a></li>
    </ul>
  </div>
  <div id="offcanvas" ng-class="{true: 'sidebar-open', false: 'sidebar-close'}[$ctrl.sidebar.open]">
    {% block main %}{% endblock %}
  </div>
  <confirm-modal></confirm-modal>
  <upload-modal></upload-modal>
</div>
<script>
    $(function(){
      $("body").on("click", ".toggle-info", function(){
        $(this).parent().children(".alert").slideToggle();
      })
      $("#upload-modal").on("shown.bs.modal", function(){
        $(this).find("#textarea").focus();
      })
    })
</script>
{% endblock %}