{% extends "base.html" %}
{% block main %}
  <div class="container-fluid" ng-controller="scanStockCtrl">
    <div class="row inview animated fadeIn">

                <!-- BEGIN: Doughnut Chart Default -->
                <div class="col-sm-5">
                  <div class="box">
                    <header class="b-b">
                      <h4>Doughnut Chart Default</h4>
                      <!-- begin box-tools -->
                      <div class="box-tools">
                        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                        <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                        <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                      </div>
                      <!-- END: box-tools -->
                    </header>
                    <div class="box-body collapse in">
                      <div class="row">
                        <div class="col-xs-6 col-sm-3"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                          <h5>Chart</h5>
                          <hr>
                          <canvas width="31" height="31" data-charty="doughnut" data-labels="['Red', 'Blue', 'Yellow']" data-value="[100, 80, 30]" data-background-color="[&quot;#FF6384&quot;, &quot;#36A2EB&quot;, &quot;#FFCE56&quot;]" style="display: block; width: 31px; height: 31px;"></canvas>
                        </div>
                        <div class="col-xs-6 col-sm-9">
                          <h5>Source</h5>
                          <hr>
                          <pre><code>&lt;canvas
  width="100"
  height="100"
  data-charty="doughnut"
  data-labels="['Red', 'Blue', 'Yellow']"
  data-value="[100, 80, 30]"
  data-background-color='["#FF6384", "#36A2EB", "#FFCE56"]'&gt;&lt;/canvas&gt;
</code></pre>
                        </div>
                      </div>
                    <div class="loader hidden"><div class="loader-inner ball-scale-ripple-multiple"><div></div><div></div><div></div></div></div></div>
                  </div>
                </div>
                <!-- END: Doughnut Chart Default -->

                <!-- BEGIN: Doughnut Chart with Legend -->
                <div class="col-sm-7">
                  <div class="box">
                    <header class="b-b">
                      <h4>Doughnut Chart with Legend</h4>
                      <!-- begin box-tools -->
                      <div class="box-tools">
                        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
                        <a class="fa fa-fw fa-square-o" href="#" data-fullscreen="box"></a>
                        <a class="fa fa-fw fa-refresh" href="#" data-box="refresh"></a>
                        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
                      </div>
                      <!-- END: box-tools -->
                    </header>
                    <div class="box-body collapse in">
                      <div class="row">
                        <div class="col-xs-6 col-sm-4"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                          <h5>Chart</h5>
                          <hr>
                          <canvas width="89" height="89" data-charty="doughnut" data-labels="['Red', 'Blue', 'Yellow']" data-value="[100, 80, 30]" data-background-color="[&quot;#FF6384&quot;, &quot;#36A2EB&quot;, &quot;#FFCE56&quot;]" data-legend="true" style="display: block; width: 89px; height: 89px;"></canvas>
                        </div>
                        <div class="col-xs-6 col-sm-8">
                          <h5>Source</h5>
                          <hr>
                          <pre><code>&lt;canvas
  width="100"
  height="100"
  data-charty="doughnut"
  data-labels="['Red', 'Blue', 'Yellow']"
  data-value="[100, 80, 30]"
  data-background-color='["#FF6384", "#36A2EB", "#FFCE56"]'
  data-legend=true&gt;&lt;/canvas&gt;
</code></pre>
                        </div>
                      </div>
                    <div class="loader hidden"><div class="loader-inner ball-scale-ripple-multiple"><div></div><div></div><div></div></div></div></div>
                  </div>
                </div>
                <!-- END: Doughnut Chart with Legend -->
              </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <h3 class="title">新建库存</h3>
        <form ng-submit="stock.save()">
          <div class="form-layout">
            <label>物料名称</label>
            <input type="text" class="form-control" placeholder="物料名称" ng-model="stock.data.name" required="" autofocus>
            <div class="info-group">
              <label>条形码</label>
              <span class="toggle-info">
                <i class="fa fa-info-circle fa-lg"></i>
              </span>
              <p class="alert alert-info flipInX animated" style="display: none;">
                温馨提示：<br>
                1.鼠标点击条形码输入框<br>
                2.用扫码抢进行扫码
              </p>
            </div>
            <input type="text" class="form-control" placeholder="条形码" ng-model="stock.data.barcode" required>
            <label>成本单价(元)</label>
            <input type="number" max="999" min="0.1" step="0.1" class="form-control" placeholder="成本单价" ng-model="stock.data.unitprice" required="">
            <label>数量</label>
            <input type="number" max="999" min="1" step="1" class="form-control" placeholder="数量" ng-model="stock.data.quantity" required="">
            <label>单位</label>
            <select id="select-unit" class="form-control" ng-model="stock.data.measurement" required="">
              <option value=""></option>
              <option ng-repeat="(key, value) in stock.mOptions" ng-value="value">[[ key ]]</option>
            </select>
            <!-- <input type="text" class="form-control" placeholder="单位"> -->
            <button class="btn btn-primary submit-btn">保存</button>
          </div>
        </form>
        <div ng-cloak class="form-layout text-danger bounceIn" ng-class="{'animated':stock.animate}" ng-show="stock.duplicate.length > 0">
          <label>该库存条形码已存在</label>
          <ul>
            <li ng-repeat="item in stock.duplicate|orderBy: reverse track by $index">[[ item ]]</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="row">
          <div class="col-md-2">
            <h3 class="title">库存明细</h3>
          </div>
          <div class="col-md-3 col-md-offset-7">
            <div class="input-group search">
               <input type="text" class="form-control" placeholder="物料名称 | 条形码">
               <span class="input-group-btn">
                 <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
               </span>
             </div><!-- /input-group -->
            
          </div>
        </div>
        <div class="table-responsive table-layout">
          <table class="table table-hover sortable">
            <thead>
              <tr ng-show="stock.show" ng-cloak>
                <th></th>
                <th>物料名称</th>
                <th>条形码</th>
                <th>成本单价(元)</th>
                <th>数量</th>
                <th>总价(元)</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in stock.stockList" ng-cloak>
                  <td>[[ $index + 1 ]]</td>
                  <td>[[ item.name  ]]</td>
                  <td>[[ item.barcode ]]</td>
                  <td>[[ item.unitprice | currency: "&#165;" ]]</td>
                  <td>[[ item.quantity + item.measurement_text ]]</td>
                  <td>[[ item.unitprice * item.quantity | currency: "&#165;"]]</td>
                  <td>
                    <a
                      href="#"
                      class="btn btn-danger btn-xs"
                      data-toggle="modal"
                      data-target="#delete-modal-[[ $index + 1 ]]"
                      title="delete">删除
                      <i class="fa fa-trash"></i>
                    </a>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete-modal-[[ $index + 1 ]]">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title text-center">
                          </span>
                          删除物料
                          </h4>
                        </div>
                        <div class="modal-body">
                          <form class="form-inline" ng-submit="stock.delete(item)">
                            <div class="tc-params-help text-center">
                              <span class="help-block">确定删除 <b class="text-danger">[[ item.name ]] x [[ item.quantity ]][[ item.measurement_text ]]</b> ?</span>
                              <span class="text-danger"><b>条形码:[[ item.barcode ]]</b></span>
                            </div>
                            <div class="modal-footer">
                              <div class="btn-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-danger">删除</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
$("#nav-scan-stock").addClass("active").siblings().removeClass("active")
})
</script>
{% endblock %}
